.navmain,
.subnav {
  border-radius: var(--mantine-radius-md);

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}

.navmain {
  color: var(--mantine-color-gray-0);
  font-size: var(--mantine-font-size-xl);

  &[data-active] {
    background: var(--mantine-color-brand-6);
  }
}

.subnav {
  color: var(--mantine-color-gray-6);
}
