.month {
  width: 100%;
}

.calendarHeader {
  width: 100% !important;
  background: "var(--mantine-color-gray-0)";
}

.day {
  border: 1px solid;
  width: 100%;
  height: 80px;
  border-color: var(--mantine-color-gray-3);
  font-weight: 700;
}
